<div id="invoices">
    <div class="stack">
        <h3 class="h3">Mes factures</h3>

        {% if invoices is empty %}
            <div class="card card-padding">
                <p class="text-muted">Il n'y a pas de factures pour le moment.</p>

                <div class="mt-6">
                    <a href="" class="btn-primary">
                        {{ icon('crown') }}
                        Devenir premium
                    </a>
                </div>
            </div>
        {% else %}

        {% endif %}
    </div>
</div>