<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Lazare Fortune</h1>
                <span class="footer__subtitle">Développeur web</span>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="#about" class="footer__link"></a>
                </li>
                <li>
                    <a href="#portfolio" class="footer__link">Portfolio</a>
                </li>
                <li>
                    <a href="#contact" class="footer__link">Contact</a>
                </li>
            </ul>

            <div class="footer__socials">
                <a href="https://github.com/lazarefortune" target="_blank" class="footer__social">
                    <i class="uil uil-github-alt"></i>
                </a>
                <a href="https://www.linkedin.com/in/lazare-fortune/" target="_blank" class="footer__social">
                    <i class="uil uil-linkedin-alt"></i>
                </a>
                <a href="https://www.twitter.com/lazarefortune" target="_blank" class="footer__social">
                    <i class="uil uil-twitter-alt"></i>
                </a>
            </div>
        </div>

        <p class="footer__copy">&#169; LazareFortune. All right reserved</p>
    </div>
</footer>