{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1 class="text-2xl sm:text-4xl">Mon site se refait une <span class="text-enhance">beauté</span>  😉</h1>
            <p class="text-xl sm:text-2xl">Revenez bientôt !</p>
        </div>
        <div class="mt-8">
            <p>
                Pour l'instant ça se passe sur <br> <a href="{{ path('app_ui') }}" class="text-2xl text-primary-500 hover:text-primary-600">mon site de <span>UI</span></a>
            </p>
            <a href="{{ path('app_ui') }}" class="btn btn-primary mt-6 flex gap-2">
                Découvrir mon UI {{ icon('arrow-right') }}
            </a>
        </div>
    </div>
{% endblock %}
