{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <div class="container space-y-8">
        <div>
            <p class="text-2xl"><strong>DESIGN SYSTEM</strong> <br>Créé par <a href="https://lazarefortune.com" target="_blank" class="text-lead">Lazare Fortune</a></p>
        </div>

        {# Typography #}
        <section id="typography" class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-10">
            <div>
                <h1 class="h1">Titre de niveau 1</h1>
                <h2 class="h2">Titre de niveau 2</h2>
                <h3 class="h3">Titre de niveau 3</h3>
                <h4 class="h4">Titre de niveau 4</h4>
                <h5 class="h5">Titre de niveau 5</h5>
                <h6 class="h6">Titre de niveau 6</h6>

                <p>
                    Ceci est un paragraphe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores atque autem
                </p>
            </div>
            <div>
                <div class="hero-title">Titre .hero-title</div>
                <p class="hero-text">.hero-text ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque dolorem eligendi esse et porro repellendus? Autem consectetur deserunt dolor laborum, tenetur unde! Facilis hic ipsa, iste itaque quam quidem.</p>
            </div>
        </section>

        {# Layout #}
        <section id="layout">
            <h1 class="h1 mb-6">Layout</h1>
            <div>
                <small class="text-muted">.stack</small>
                <div class="stack">
                    <div class="card h-10"></div>
                    <div class="card h-10"></div>
                    <div class="card h-10"></div>
                    <div class="card h-10"></div>
                </div>
            </div>

            <div class="mt-4">
                <small class="text-muted">.stack-separated</small>
                <div class="stack-separated">
                    <div class="card h-10"></div>
                    <div class="card h-10"></div>
                    <div class="card h-10"></div>
                    <div class="card h-10"></div>
                </div>
            </div>
        </section>


        {# Boutons #}
        <section id="buttons" class="stack">
            <h1 class="h1 mb-6">Boutons</h1>
            <div class="hstack">
                <button class="btn btn-primary flex-grow">.btn-primary</button>
                <button class="btn btn-secondary flex-grow">.btn-secondary</button>
                <button class="btn btn-tertiary flex-grow">.btn-tertiary</button>
                <button class="btn btn-tertiary-no-outline flex-grow">.btn-tertiary-no-outline</button>
            </div>
            <div class="hstack">
                <button class="btn btn-lg btn-primary flex-grow">.btn-primary .btn-lg </button>
            </div>
            <div class="hstack">
                <button class="btn btn-sm btn-primary flex-grow">.btn-primary .btn-sm</button>
            </div>
            <div class="flex-grow">

                <label class="switch switch-primary">
                    <input type="checkbox" id="dark-mode-toggle">
                    <span class="switch-circle"></span>
                </label>

                <label class="switch switch-primary switch-sm">
                    <input type="checkbox">
                    <span class="switch-circle"></span>
                </label>
            </div>
        </section>

        {# Notifications #}
        <section id="notifications" class="stack">
            <h1 class="h1 mb-6">Notifications</h1>
            <div class="callout">
                <h2 class="callout-title">Callout title</h2>
                <p class="callout-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores atque autem
                    consequatur cumque cupiditate delectus dolor doloremque doloribus ea earum eius eligendi
                    error esse est eum eveniet excepturi exercitationem fugiat hic id illum impedit in incidunt
                </p>
            </div>
            <div class="notice-info">
                <p>Notice d'information</p>
            </div>
        </section>

        {# Alertes #}
        <section id="alerts" class="stack">
            <h1 class="h1 mb-6">Alertes</h1>
            <p class="text-lg">
                Les alertes ont un titre h1/h2/h3/h4/h5/h6 et un paragraphe. <br>
                Ils peuvent ne pas avoir de titre et être utilisés avec un seul paragraphe.
            </p>
            <div class="alert alert-danger mt-4 alert-sm">
                <p>Ceci est un exemple  <span class="text-enhance">.alert-sm</span>. </p>
            </div>

            <div class="alert alert-danger mt-4">
                <p>Ceci est un exemple <span class="text-enhance">.alert-danger</span> sans titre h1/h2/h3/h4/h5/h6.</p>
            </div>

            <div class="alert alert-danger mt-4">
                <h2>Ceci est un exemple <span class="text-enhance">.alert-danger</span></h2>
                <p>Ceci est un message d'alerte important.</p>
            </div>

            <div class="alert alert-info mt-4">
                <h2>Ceci est un exemple <span class="text-enhance">.alert-info</span></h2>
                <p>Ceci est un message d'alerte important.</p>
            </div>

            <div class="alert alert-success mt-4">
                <h2>Ceci est un exemple <span class="text-enhance">.alert-success</span></h2>
                <p>Ceci est un message d'alerte important.</p>
            </div>

            <div class="alert alert-warning mt-4">
                <h2>Ceci est un exemple <span class="text-enhance">.alert-warning</span></h2>
                <p>Ceci est un message d'alerte important.</p>
                <p>Ceci est un message d'alerte important.</p>
            </div>
        </section>
    </div>
{% endblock %}
