.mdeditor {
  position: relative;
  @apply bg-white border border-primary-50 shadow shadow-primary-200;
  @apply dark:bg-primary-950 dark:border-primary-950 dark:shadow-primary-900;
  transition: box-shadow 0.3s;
}
.mdeditor.is-invalid {
  border-color: #fb4635;
}
.mdeditor--fullscreen {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.mdeditor__editor {
  top: 34px;
  left: 0;
  height: calc(100% - 34px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
  //background: var(--background);
  @apply bg-white dark:bg-slate-800;
}
.mdeditor .Code-Mirror-wrap {
  height: 100%;
}
.mdeditor__toolbar {
  position: relative;
  display: flex;
  z-index: 3;
  height: 34px;
  @apply bg-white border border-slate-100 dark:border-slate-800 dark:bg-primary-1000;
  box-shadow: 0 1px 2px rgba(#000, 0.2);

  button {
    height: 34px;
    width: 34px;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    @apply rounded inline-flex justify-center items-center text-center text-slate-600 hover:bg-primary-100 hover:text-primary-900;
    @apply dark:text-white dark:hover:bg-primary-950;
  }

  svg {
    margin-top: 3px;
    fill: currentColor;
    width: 15px;
    height: 15px;
  }
}
.mdeditor__toolbarright {
  margin-left: auto;
}

// CodeMirror
// ======================
.mdeditor .CodeMirror-cursor {
  background-color: transparent !important;
  border-left: 2px solid #4594ec !important;
  //@apply border-l border-primary-600;
}
.mdeditor__editor .CodeMirror-selected {
  @apply bg-primary-300 dark:bg-primary-800;
}

.mdeditor .cm-header .cm-header-1{
  font-family: 'Gotham', 'Montserrat', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  font-style: normal;
  font-size: 38px !important;
  line-height: 1.2;
  padding-top: 31px;
  margin-bottom: 2px;
}
.mdeditor .cm-header.cm-header-2 {
  font-family: 'Gotham', 'Montserrat', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 1.2;
  padding-top: 31px;
  margin-bottom: 2px;
}
.mdeditor .cm-header.cm-header-3 {
  font-family: 'Gotham', 'Montserrat', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 16px;
  //margin-top: space(2);
  margin-bottom: 2px;
}
.mdeditor .cm-header.cm-header-4 {
  font-family: 'Gotham', 'Montserrat', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  margin-top: 16px;
}
.mdeditor .CodeMirror pre.CodeMirror-line {
  font-family: 'SF Pro', 'Roboto', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.mdeditor .cm-comment {
  font-family: monospace;
}
.mdeditor .CodeMirror-scroll {
  @apply bg-white dark:bg-primary-950;
  min-height: 100px;
  max-height: calc(100vh - 200px);
}
.mdeditor .CodeMirror {
  height: auto;
}
.CodeMirror-scroll {
  padding: 10px;
}
.mdeditor--fullscreen .mdeditor__editor {
  position: absolute;
  height: calc(100% - 34px);
}
.mdeditor--fullscreen .CodeMirror {
  height: 100%;
}

.CodeMirror {
  @apply text-slate-950 dark:text-white;
}
.dark {
  .CodeMirror {
    color: white !important;
  }
}