<a
    href="{{ path('app_home') }}"
    class="flex px-6 py-2 rounded-full items-center gap-3 font-medium transition-colors text-zinc-700 hover:text-primary-800 hover:bg-primary-100
    dark:text-white dark:hover:text-white dark:hover:bg-primary-700"
    data-testid="studio-quit-link"
>
    {% include 'components/icon.html.twig' with { name: 'undo-2', size: 16 } %}
    Quitter le studio
</a>
