{% extends 'studio/layout.html.twig' %}

{% block title %}Ajouter une vidéo - Studio{% endblock %}

{% block studio_title %}Ajouter une vidéo{% endblock %}

{% block studio_main %}
    {% embed 'components/page_header.html.twig' with {
        eyebrow: 'Studio',
        title: 'Ajouter une vidéo',
        description: '',
    } %}
    {% endembed %}

    <script type="application/json" id="studio-video-create-config">
        {{ video_create_config|json_encode|raw }}
    </script>

    <div
        class="mt-6"
        data-studio-app
        data-studio-page="video-create"
        data-testid="studio-video-create-app"
    ></div>
{% endblock %}

{% block studio_javascripts %}
    {{ encore_entry_script_tags('studio') }}
{% endblock %}
