{% extends 'layouts/admin/base.html.twig' %}

{% block title  %}
    File Manager
{% endblock %}

{% block body %}

    <div>
        <file-manager endpoint="/wp-admin/attachment" class="file-manager__w-full"></file-manager>
    </div>

{% endblock %}