{% extends 'layouts/public/base.html.twig' %}

{% block title %}
    A propos de moi
{% endblock %}

{% block body %}
    <div class="container-box py-10 w-full mx-auto">
        <h1 class="text-center text-2xl sm:text-5xl font-semibold text-gray-800 mt-4 mb-10 sm:mb-16">
            Qui suis-je ?
        </h1>

        <section class="space-y-8">

        </section>
    </div>
{% endblock %}
