{% extends 'layouts/public/base.html.twig' %}

{% block title %}
    Conditions générales d'utilisation
{% endblock %}

{% block body %}
    <div class="container-box py-10 w-full mx-auto">
        <h1 class="text-center text-2xl sm:text-5xl font-semibold text-gray-800 mt-4 mb-10 sm:mb-16">
            Conditions Générales d’Utilisation
        </h1>

        <section class="space-y-8">
            <div class="border-b border-slate-200 dark:border-slate-800 pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 1 – Identification</h3>
                <p class="text text-slate-600 dark:text-slate-300 mt-2">
                    Le site <a href="https://lazarefortune.com" class="link" target="_blank">https://lazarefortune.com</a>
                    est édité par <strong>Lazare Fortune</strong>, entrepreneur individuel immatriculé
                    sous le numéro <strong>SIRET 992 822 510 00010</strong>,
                    dont le siège social est situé au <strong>11 avenue Auguste Rodin, 94350 Villiers-sur-Marne</strong>.
                    TVA non applicable – article 293 B du CGI.
                </p>
            </div>

            <div class="border-b border-slate-200 dark:border-slate-800 pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 2 – Objet</h3>
                <p class="text-slate-600 dark:text-slate-300 mt-2">
                    Les présentes Conditions Générales d’Utilisation (CGU) définissent les modalités d’accès et d’utilisation
                    du site <strong>Lazare Fortune</strong> par tout utilisateur.
                    En accédant au site, l’utilisateur reconnaît avoir pris connaissance des présentes CGU et les accepter sans réserve.
                </p>
            </div>

            <div class="border-b border-slate-200 dark:border-slate-800 pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 3 – Accès au site</h3>
                <p class="text-slate-600 dark:text-slate-300 mt-2">
                    Le site est accessible gratuitement à tout utilisateur disposant d’un accès à Internet.
                    Les frais liés à l’accès (connexion, matériel, etc.) restent à la charge de l’utilisateur.
                </p>
            </div>

            <div class="border-b border-slate-200 dark:border-slate-800 pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 4 – Responsabilités</h3>
                <p class="text-slate-600 dark:text-slate-300 mt-2">
                    Lazare Fortune met tout en œuvre pour assurer la fiabilité et la mise à jour des informations diffusées
                    sur le site, mais ne saurait être tenu responsable des erreurs, omissions ou interruptions de service.
                    L’utilisateur est seul responsable de l’usage qu’il fait du contenu du site.
                </p>
            </div>

            <div class="border-b border-slate-200 dark:border-slate-800 pb-6">
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 5 – Données personnelles</h3>
                <p class="text-slate-600 dark:text-slate-300 mt-2">
                    Les données collectées sur le site (via formulaires, newsletter, ou contact) sont traitées uniquement
                    par Lazare Fortune, dans le cadre des finalités explicites : communication, suivi des projets, ou offre de contenu.
                    L’utilisateur peut demander la rectification ou la suppression de ses données à tout moment
                    en envoyant un e-mail à <a href="mailto:lazarefortune@gmail.com" class="link">lazarefortune@gmail.com</a>.
                </p>
            </div>

            <div>
                <h3 class="text-xl sm:text-3xl font-semibold text-gray-700">Article 6 – Loi applicable</h3>
                <p class="text-slate-600 dark:text-slate-300 mt-2">
                    Les présentes CGU sont régies par la loi française.
                    En cas de litige, les tribunaux compétents seront ceux du ressort du siège social de l’éditeur.
                </p>
            </div>
        </section>
    </div>
{% endblock %}
