.chapters {
  @apply px-0 py-6;
}
.chapters-toggle {
  @apply absolute -left-2 -translate-y-1/2 transform cursor-pointer p-2 top-[50%] bg-white-soft z-[5] dark:bg-primary-1000;
}

.chapters-toggle {
  position: absolute;
  top: calc(50% - 25px);
  width: 18px;
  height: 50px;
  left: -18px;
  background-color: #fff;
  //background: var(--card-bg, var(--background-light));
  //border: 1px solid var(--border);
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 3px;
  z-index: 10;
  border-top-right-radius: 3px;
  transition: .2s;
  opacity: 0;
  transform: translateX(10px);

  &::after {
    position: absolute;
    top: -20px;
    left: -20px;
    right: 0;
    bottom: -20px;
    content:'';
  }

  &:hover {
    @apply cursor-pointer bg-gray-100 dark:bg-dark-soft;
  }

  .is-chapter:hover & {
    opacity: 1;
    transform: translateX(0px);
  }

  .icon {
    flex: none;
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
  }

  .is-folded & .icon {
    transform: rotate(90deg);
  }
}

.chapters__section {
  @apply bg-white dark:bg-primary-1000 py-4;
}

.chapters__split {
  @apply flex flex-col gap-6;
  .chapters__section {
    @apply shadow rounded-md border border-slate-200 dark:border-slate-700;
  }
}

.chapters__section__title {
  @apply mb-6 px-6 text-xl font-medium;
}
//.chapters__list {
//  @apply grid grid-cols-1 gap-4;
//}
.chapters__item {
  @apply relative flex items-center bg-white px-6 py-4 text-base dark:text-white dark:bg-primary-1000;
  @apply hover:cursor-pointer hover:bg-primary-300/20 hover:dark:text-white hover:dark:bg-primary-600/20;
}
.chapters__item.is-selected {
  @apply bg-gray-100 dark:bg-dark-soft;
}
.chapters__premium {
  @apply flex flex-none justify-center items-center h-9 w-9 text-sm font-semibold text-white bg-light-orange-3 dark:bg-light-orange-3;
  margin-right: 20px;
  border-radius: 32px;
}
.chapters__free {
  @apply flex flex-none justify-center items-center h-9 w-9 text-sm font-semibold text-slate-900 bg-primary-300/50 dark:bg-primary-700/50 dark:text-white;
  margin-right: 20px;
  border-radius: 32px;
}
.chapters__title {
  //@apply text-base font-bold text-slate-900 dark:text-slate-200;
}
.chapters__duration {
  @apply ml-auto whitespace-nowrap text-slate-400;
}