.chapters {
  @apply px-0 py-0;
}

.is-chapter {
  position: relative; /* Pour ancrer le toggle */

  @media (min-width: 1100px) {
    display: grid;
    grid-template-columns: 1fr 385px; /* sidebar à droite */
    transition: grid-template-columns 0.2s ease-in-out;

    &.is-folded {
      grid-template-columns: 1fr 0;
      .chapters-wrapper {
        display: none;
      }
    }

    &:hover .chapters-toggle {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
}

.chapters-wrapper {
  @apply relative transition-all duration-300 ease-in-out bg-white dark:bg-primary-1000;
  @apply border border-slate-200 dark:border-slate-800 shadow dark:shadow-primary-700;

  @media (min-width: 1100px) {
    //position: relative;
    @apply absolute top-0 left-0 w-full h-full overflow-auto;
    /* Pas d'overflow nécessaire, laissez par défaut */
    // overflow: visible;
    // designer la scrollbar
    scrollbar-width: thin;
    scrollbar-color: var(--color-slate-200) var(--color-slate-50);
  }

  @media (max-width: 1099px) {
    @apply fixed inset-x-0 bottom-0 max-h-[70vh] transform translate-y-full z-[9999] rounded-t-xl shadow-lg border border-slate-200 dark:border-slate-700 overflow-auto;

    &__header {
      @apply sticky top-0 z-[10000] bg-white dark:bg-primary-950 w-full h-10 flex items-center justify-end shadow shadow-slate-400 dark:shadow-primary-700;
      &::before {
        content: '';
        @apply absolute top-4 left-1/2 -translate-x-1/2 w-10 h-1 bg-slate-300 rounded;
        pointer-events: all;
        display: block;
        cursor: grab;
      }
    }

    &.open {
      @apply translate-y-0;
    }

    .chapters-mobile-close {
      @apply mr-2 my-2 p-1 bg-slate-100 dark:bg-primary-950 text-slate-700 dark:text-slate-300 rounded;
      svg {
        @apply w-5 h-5 text-slate-700 dark:text-slate-300;
      }
    }

  }
}

/* Cacher le bouton close mobile sur desktop */
@media (min-width: 1100px) {
  .chapters-mobile-close {
    display: none;
  }
}

/* Le toggle sur desktop */
.chapters-toggle {
  @apply absolute lg:flex items-center justify-center cursor-pointer bg-white dark:bg-primary-950 text-slate-600 dark:text-slate-300 border border-slate-200 dark:border-slate-700;

  top: 50%;
  transform: translateY(-50%) scale(0.9);
  opacity: 0;
  z-index: 10;
  width: 20px;
  height: 50px;
  border-right: none;
  border-radius: 4px 0 0 4px;
  transition: opacity 0.2s, transform 0.2s, right 0.2s;

  /* Par défaut (sidebar ouverte) */
  right: 385px;

  /* Quand la sidebar est fermée */
  .is-chapter.is-folded & {
    right: 0;
  }

  &:hover {
    @apply bg-slate-100 dark:bg-primary-800;
  }

  .icon {
    @apply w-4 h-4 transform;
    rotate: -90deg;
  }

  /* Quand plié, on inverse la flèche */
  .is-chapter.is-folded & .icon {
    transform: rotate(180deg);
  }
}

/* Styles des chapitres */
.chapters__section {
  @apply bg-white dark:bg-primary-1000 border-b border-slate-200 dark:border-slate-700;
}

.chapters__header {
  @apply flex justify-between items-center px-4 py-5 text-base font-medium bg-white dark:bg-primary-1000;
}

.chapters__header-title {
  @apply text-xl font-inter font-semibold text-slate-900 dark:text-slate-100;
}

.chapters__header-count {
  @apply text-sm text-slate-600 dark:text-primary-400;
}

.chapters__list {
  @apply bg-white dark:bg-primary-1000;
}

.chapters__item {
  @apply relative flex gap-4 p-4 items-center transition-all duration-300 hover:bg-slate-50 dark:hover:bg-primary-900/30 cursor-pointer;
}

.chapters__item:last-child {
  @apply border-b-0;
}

.chapters__item.is-current {
  @apply bg-primary-50 dark:bg-primary-950;
}

.chapters__icon {
  @apply flex-shrink-0 flex items-center justify-center w-10 h-10 rounded-full transition-colors duration-300;
}

.chapters__item[data-locked="true"] .chapters__icon {
  @apply bg-orange-300 text-orange-900 dark:bg-orange-300  dark:text-orange-900;
}

.chapters__item[data-locked="false"] .chapters__icon {
  @apply bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-400;
}

.chapters__icon .icon {
  @apply w-5 h-5;
}

.chapters__content {
  @apply flex-1 flex flex-row justify-between items-center gap-1;
}

.chapters__title {
  @apply font-inter text-base font-normal text-slate-800 dark:text-slate-200 leading-tight;
}

.chapters__meta {
  @apply flex items-center gap-3 text-sm text-slate-600 dark:text-slate-400;
}

.chapters__duration {
  @apply font-inter whitespace-nowrap text-[13px] flex items-center gap-1 text-slate-500 dark:text-slate-400;
}

.chapters__duration .icon {
  @apply w-3 h-3;
}

.chapters__info {
  @apply text-slate-500 dark:text-slate-500;
}

.chapters__play-button {
  @apply w-10 h-10;
}

#chapters-mobile-button {
  @apply focus:outline-none focus:ring-0 focus:ring-offset-0;
}
#chapters-mobile-button.open {
  @apply bg-slate-200 dark:bg-primary-900;
}

/* Play button */
.play-button {
  @apply relative flex items-center justify-center w-10 h-10 rounded-full bg-slate-200 text-slate-800 shadow-sm transition-all duration-300 hover:bg-slate-300 dark:hover:shadow-primary-800 dark:bg-primary-900 dark:text-white dark:hover:bg-primary-400;
}

.chapters__play-button.is-current .play-button {
  @apply bg-primary-400;
}

.play-button .progress-circle {
  stroke-dasharray: 88px;
  stroke-dashoffset: 88px;
  stroke-width: 2.5;
  @apply stroke-primary-700 dark:stroke-primary-50 transition-all duration-300;
}

.play-button.is-playing .progress-circle {
  @apply stroke-green-500;
}

.play-button.is-checked .progress-circle {
  @apply stroke-blue-500;
}

/* Responsive */
@media (max-width: 640px) {
  .chapters__item {
    @apply gap-3 p-3;
  }

  .chapters__icon .icon {
    @apply w-4 h-4;
  }

  .chapters__title {
    @apply text-sm;
  }

  .chapters__meta {
    @apply text-xs gap-2;
  }
}

/* Bouton mobile pour ouvrir le drawer */
.chapters-mobile-trigger {
  //@apply flex justify-center mt-4;
  @apply fixed inset-x-0 bottom-5 z-10 px-4;
}
@media (min-width: 1100px) {
  .chapters-mobile-trigger {
    display: none;
  }
}

.chapters-mobile-trigger button {
  @apply flex items-center gap-2 py-3 px-4 bg-gray-200/95 text-slate-950 rounded-full border border-slate-300 text-base font-bricolage hover:bg-gray-200 dark:bg-primary-800/95 dark:border-primary-700 dark:text-white dark:hover:bg-primary-700;
}

.chapters__split {
  @apply flex flex-col gap-10;
}

.chapters-backdrop {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background: rgba(0,0,0,0.5);
  z-index: 9998;
  display: none;
}

.chapters-wrapper.open + .chapters-backdrop {
  display: block;
}


/* Menu partage */
#share-menu {
  @apply flex-col mt-2 bg-white dark:bg-primary-1000 shadow-lg p-2 border border-slate-200 dark:border-slate-700 z-10 rounded-2xl min-w-48;
}

#share-menu.show {
  @apply block;
}

.share-menu-item {
  @apply w-full transition flex items-center gap-2 px-4 py-2 text-slate-700 dark:text-slate-300 hover:bg-slate-100 dark:hover:bg-primary-950 dark:hover:text-white rounded-xl;
}
