{% extends 'layouts/public/base.html.twig' %}

{% block title 'Toutes les vidéos' ~ ((page > 1) ? (', page' ~ page) : '') %}

{% block body %}
    <div>
        <div class="container-box py-10 stack-large">

            <div class="course__hero">
                {% if page == 1 %}
                    <h1 class="h1">Toutes les <span>vidéos</span></h1>
                    <p class="text-muted mt-2">Découvrez l'ensemble des vidéos pour apprendre de nouvelles choses.</p>
                {% else %}
                    <h1 class="h1">Tous mes <span>tutoriels</span> <em><br> page {{ page }}</em> </h1>
                {% endif %}
            </div>

            <div class="courses">
                {% for course in courses %}
                    {% include 'pages/public/courses/_course_item.html.twig' with { 'course': course } %}
                {% endfor %}
            </div>

            <div class="flex justify-center mt-6">
                {{ knp_pagination_render(courses) }}
            </div>
        </div>
    </div>
{% endblock %}

