.profil-header {
  text-align: center;
}

// Avatar
// =============
.profil-header__avatar {
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 110px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: var(--border);
  border: solid 2px var(--border);
}
.profil-header__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 110px;
  transition: opacity 0.3s;
}
.profil-header__avatar input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.profil-header__body p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
}
.profil-header__upload {
  width: 110px;
  height: 25px;
  background: var(--border);
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #9fb3c8;

  .icon {
    width: 18px;
    height: 15px;
  }
}
.profil-header__avatar:hover .profil-header__upload {
  transform: translateY(0);
}
form.profil-header__avatar:hover img {
  opacity: 0.7;
}

//@include up(600) {
//  .profil-header {
//    text-align: left;
//    display: grid;
//    grid-template-columns: 110px 1fr;
//    align-items: center;
//    gap: space(2);
//  }
//  .profil-header__avatar {
//    margin-left: 0;
//  }
//  .profil-header__body p {
//    justify-content: flex-start;
//  }
//}

// Classes personnalisées pour les cartes de la page "Mon Compte"

.account-card {
  @apply flex flex-row md:flex-col items-start gap-4 border p-4 md:px-6 rounded-xl transition-colors duration-200;
  @apply text-slate-950 dark:text-white;
  @apply border-slate-200 dark:border-slate-700;
  @apply hover:bg-slate-50 dark:hover:bg-primary-1000;
}

.account-card__icon {
  @apply text-slate-950 dark:text-white border border-slate-200 dark:border-slate-800 p-4 rounded-xl;
  @apply bg-slate-50 dark:bg-primary-1000;
  @apply flex-shrink-0;
  @apply text-[34px]; // Pour avoir environ 34px
}

.account-card__content {
  @apply flex flex-col justify-center;
}

.account-card__content h3 {
  @apply text-lg md:text-xl font-medium;
}

.account-card__content p {
  @apply text-base text-muted;
}
