.formation__hero {
  h1 {
    @apply text-3xl font-medium text-slate-900 dark:text-slate-200;
    span {
      @apply text-primary-600 dark:text-primary-400;
    }

    em {
      @apply text-xl text-slate-600 dark:text-slate-400;
    }
  }
}

.formations {
  @apply grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
}

.formation {
  @apply relative bg-transparent rounded min-w-72;
}

.formation__link {
  @apply static;
  &::after{
    content: '';
    @apply absolute inset-0 block cursor-pointer rounded-xl border border-transparent transition duration-100 z-[5];
  }
  &:hover::after {
    @apply shadow shadow-slate-200 dark:shadow-primary-500 transition-all duration-200;
  }
}
.formation__image-wrapper {
  @apply relative rounded-xl aspect-video bg-slate-100 dark:bg-slate-800 text-slate-300 dark:text-slate-400 border border-slate-200 dark:border-slate-500;
  &::after {
    content: '';
    @apply absolute inset-0 bg-gradient-to-t from-transparent to-primary-600 dark:to-primary-900 transition duration-200 border border-slate-200 dark:border-slate-500 z-[1] rounded-xl -translate-y-[10px] scale-95;
  }
  &::before {
    content: '';
    @apply absolute inset-0 bg-gradient-to-t from-transparent to-primary-600/50 dark:to-primary-900/50 transition duration-200 border border-slate-200 dark:border-slate-500 z-[1] rounded-xl -translate-y-[18px] scale-90;
  }
}
.formation__image {
  @apply w-full h-full object-cover rounded-xl absolute top-0 left-0 z-[2];
}
.formation:hover .formation__image-wrapper::after {
  @apply rotate-1 -translate-y-[12px];
}
.formation:hover .formation__image-wrapper::before {
  @apply -rotate-1 -translate-y-[20px];
}
.formation__overlay-icon {
  @apply absolute inset-0 flex items-center justify-center rounded text-white bg-black/70 z-[3];

  .formation__countdown {
    @apply flex flex-col items-center justify-center text-4xl;
    & > em {
      @apply text-base not-italic;
    }
    & > strong {
      @apply text-3xl font-normal;
    }
  }
}
.formation__duration {
  @apply absolute bottom-1.5 right-1.5 text-xs bg-slate-900/95 text-white rounded px-1 py-1 flex items-center gap-1 z-[5];
}
.formation__info {
  @apply text-sm text-slate-600 dark:text-slate-400 mt-1 flex flex-wrap items-center gap-2;
}
.formation__author--link {
  @apply z-30;
}
.formation__author__avatar {
  @apply w-[50px] h-[50px] rounded-full border-2 border-slate-200 dark:border-slate-700;
}
.formation__tech {
  @apply flex items-center gap-1 text-sm px-2 py-1 z-[5] rounded bg-slate-100 text-slate-800 dark:bg-slate-700 dark:text-slate-200 hover:bg-slate-200 dark:hover:bg-slate-600 transition;
}
.formation__technologies {
  @apply flex items-center gap-1 mt-2 flex-wrap;
}
.formation__progress {
  width: calc(100% - 10px);
  @apply absolute mt-auto block bottom-0 rounded-b-full left-1 bg-slate-400 z-[6];
  span {
    width: calc(var(--progress, 0) * 100%);
    @apply block h-1 rounded-bl-xl bg-primary-600 dark:bg-primary-600;
  }
}

.formation__header {
  //padding-top: 48px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  @apply bg-gradient-to-br from-primary-100 to-slate-50 dark:from-primary-1000 dark:to-dark-soft-2 pt-4 pb-10;
  //padding-bottom: 70px;

  .breadcrumb {
    @apply bg-transparent;
  }
}

@media (min-width: 1000px) {
  .formation__header {
    grid-template-columns: 1fr 300px;
  }
}

@media (min-width: 690px) {
  .formation__header {
    grid-template-columns: 1fr 300px;
  }
}

.formation__header__title {
  @apply text-3xl font-normal text-primary-700 dark:text-slate-200;
}

.formation__header__image {
  display: none;
}

@media (min-width: 690px) {
  .formation__header__image {
    display: none;
  }
}

@media (min-width: 1000px) {
  .formation__header__image {
    display: flex;
    align-self: flex-start;
    padding-top: 30px;
  }
}

.formation__header__image img {
  //max-width: 100%;
  height: auto;
  max-height: 300px;
  position: relative;
  z-index: 2;
  display: block;
  margin: auto;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
}
.dark .formation__header__image img {
  filter: drop-shadow(0 0 6px rgba(106, 149, 242, 0.8));
}

@media (min-width: 1000px) {
  .formation__header__image img {
    max-height: 250px;
  }
}

@media (min-width: 690px) and (max-width: 999px) {
  .formation__header__image img {
    max-height: 200px;
  }
}

.formation__information {
  @apply grid grid-cols-1 gap-10 md:grid-cols-2;
}

.formation-progress {
  @apply grid;
  align-items: center;
  gap: 8px;
  max-width: 390px;
  grid-template-columns: repeat(2, 1fr);

  .formation-progress__label {
    @apply uppercase text-base font-medium;
  }

  .formation-progress__count {
    @apply text-right text-base;
  }

  .formation-progress__bar {
    grid-column: 1 / span 2;
    height: 17px;
    background-color: #fff;
    border-radius: 17px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    position: relative;

    &::before, &::after {
      content: '';
      display: block;
      width: var(--progress);
      height: 6px;
      border-radius: 6px;
      @apply bg-primary-700;
      position: relative;
      z-index: 2;
      box-shadow: 0 0 3px inset #0000000C;
    }

    &::before {
      top: calc(50% - 3px);
      @apply absolute bg-slate-100 w-auto left-2 right-2 z-[1];
    }
  }
}

//.formation__breadcrumb > .breadcrumb {
//  @apply bg-gray-50 text-[13px] flex items-center overflow-y-hidden overflow-x-auto dark:bg-primary-1000 dark:text-white;
//}