{% extends 'layouts/public/base.html.twig' %}
{% block title %}Changer mon mot de passe{% endblock %}

{% block body %}
    <div class="container-box py-6">

        <!-- Fil d'Ariane -->
        {% include 'partials/_breadcrumb.html.twig' with {
            items: [
                { label: 'Mon compte', path: path('app_account_index') },
                { label: 'Sécurité & Connexion', path: path('app_account_security') },
                { label: 'Changer mon mot de passe' }
            ]
        } %}

        <!-- Titre et description -->
        <div class="mb-6">
            <h1 class="h2 mb-1">Changer mon mot de passe</h1>
            <p class="text-sm text-slate-600 dark:text-slate-400">
                Vous devez renseigner votre mot de passe actuel,
                puis choisir un nouveau mot de passe.
            </p>
        </div>

        <!-- Carte Mot de passe -->
        <div class="bg-white dark:bg-primary-1000 border border-slate-200 dark:border-slate-800 shadow p-6 sm:p-8 rounded-lg">
            <h2 class="text-lg font-medium mb-4">Mettre à jour votre mot de passe</h2>
            <p class="text-sm text-slate-600 dark:text-slate-400 mb-6">
                Pour des raisons de sécurité, assurez-vous de choisir un mot de passe fort.
            </p>

            {{ form_start(formPassword, { 'attr': { 'class': 'space-y-4' } }) }}
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                {{ form_row(formPassword.currentPassword, {
                    'label': 'Mot de passe actuel',
                    'attr': {
                        'class': 'form-input w-full'
                    }
                }) }}
                {{ form_row(formPassword.newPassword, {
                    'label': 'Nouveau mot de passe',
                    'attr': {
                        'class': 'form-input w-full'
                    }
                }) }}
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    Enregistrer
                </button>
            </div>
            {{ form_end(formPassword) }}
        </div>
    </div>
{% endblock %}
