

.stack {
  @apply flex flex-col space-y-5;
}

.stack-separated {
  @apply flex flex-col space-y-5;

  & > div:not(:first-child) {
    @apply relative; /* Assurez-vous que le parent du pseudo-élément est positionné relativement */

    /* Ajoutez un pseudo-élément avant chaque div, sauf la première */
    @apply before:content-[''] before:absolute before:inset-x-0 before:top-0 before:h-px before:bg-gray-200 before:dark:bg-gray-700;
  }
}

.hstack {
  //display: flex;
  //flex-wrap: wrap;
  --gap: 2;
  --space: 8px;
  margin: calc(var(--gap) * var(--space) * -.5);
  margin-bottom: calc(var(--gap) * var(--space) * -1);
  margin-top: 0;
}
.hstack > * {
  --gap: 2;
  --space: 8px;
  margin-left: calc(var(--gap) * var(--space) * .5);
  margin-right: calc(var(--gap) * var(--space) * .5);
  margin-bottom: calc(var(--gap) * var(--space));
}