<header class="header">
    <div class="header__container">
        <!-- Search -->
        {% include 'layouts/dashboard/header/_header-spotlight-sidebar.html.twig' %}

        <!-- User Menu -->
        <div class="flex items-center gap-2">
            <theme-switcher></theme-switcher>
            <notifications-area></notifications-area>

            {% block header_nav %}{% endblock %}
        </div>
    </div>
</header>
