<section class="about section" id="about">
    <h2 class="section__title">A propos</h2>
    <span class="section__subtitle">Mon parcours</span>

    <div class="about__container container grid">
        <img src="assets/img/lazarefortune.jpeg" alt="" class="about__img">

        <div class="about__data">
            <p class="about__description">
                Développeur Web avec une passion pour la création de sites Web beaux et fonctionnels.
                J'ai une formation en développement web et
                j'ai une forte passion pour l'apprentissage des nouvelles technologies.
            </p>

            <div class="about__info">
                <div>
                    <span class="about__info-title">5</span>
                    <span class="about__info-name">Ans <br> d'expérience </span>
                </div>

                <div>
                    <span class="about__info-title">4</span>
                    <span class="about__info-name">Projets <br> achevés </span>
                </div>

                <div>
                    <span class="about__info-title">10</span>
                    <span class="about__info-name"> Elèves <br> satisfaits </span>
                </div>
            </div>

            <div class="about__buttons test" id="abo">
                <a href="{{ asset('assets/pdf/CV_Fortune_KOMBILA.pdf') }}" download="CV_Fortune_KOMBILA" class="button button--flex">
                    Télécharger mon CV <i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>