<section class="hobbies section" id="hobbies">
    <h2 class="section__title">Ma chaîne YouTube</h2>
    <span class="section__subtitle">
                    Sur ma chaîne YouTube, j'aime partager mes connaissances lors de mon temps libre.
                </span>


    <h3 class="section__h3">Mes dernières publications</h3>

    <div class="hobbies__container container">

        <iframe width="560" height="315" class="youtubePlayer"
                src="https://www.youtube.com/embed/videoseries?list=PLDZiR055I-4yOVOfgdnx43Prw3poMPiPC"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>


        <iframe width="560" height="315" class="youtubePlayer"
                src="https://www.youtube.com/embed/videoseries?list=PLDZiR055I-4zDBQX2aEgIp85gTg74mubN"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</section>