<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle"> Découvrons mes réalisations </span>

    <div class="portfolio__container container swiper">
        <div class="swiper-wrapper">
            <!-- Portfolio 1 -->
            <div class="portfolio__content grid swiper-slide">
                <img src="assets/img/portfolio/nodejs-blog-api.png" alt="API Github page" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">API d'un blog en Node.js</h3>
                    <p class="portfolio__description">
                        J'ai pu mettre en place une API pour gérer un blog
                        dans le cadre d'un projet scolaire.
                    </p>
                    <a href="https://github.com/lazarefortune/supdevinci-projetblog-nodejs-api" target="_blank" class="button button--flex button--small portfolio__button">
                        Consulter
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!-- Portfolio 2 -->
            <div class="portfolio__content grid swiper-slide">
                <img src="assets/img/portfolio/julie-portfolio.png" alt="Julie Mvie website" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Julie Mvie</h3>
                    <p class="portfolio__description">
                        J'ai eu à réaliser le portfolio d'un photographe
                        avec une gestion du back office avec Laravel.
                    </p>
                    <a href="https://julie.my-space.fr" target="_blank" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!-- Portfolio 3 -->
            <div class="portfolio__content grid swiper-slide">
                <img src="assets/img/portfolio/forum-lazarefortune.png" alt="Forum interface" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Forum</h3>
                    <p class="portfolio__description">
                        Pendant mon temps libre, j'ai pu mettre en place un forum très léger en utilisant Laravel.
                        Sans se focaliser sur l'aspect design mais plutôt sur le backend du projet.
                    </p>
                    <a href="https://forum.lazarefortune.com" target="_blank" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!-- Portfolio 4 -->
            <div class="portfolio__content grid swiper-slide">
                <img src="assets/img/portfolio/projet-univ-lorraine-interface.png" alt="Login interface" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Projet scolaire</h3>
                    <p class="portfolio__description">
                        Dans le cadre d'un projet de fin d'études,
                        J'ai pu mettre en place une interface de gestion de projets tutorés.
                        Notamment sur la partie backend avec Symfony. <br>
                        Identifiant : <b>roka</b> / mot de passe : <b>zsuzsanna</b>
                    </p>
                    <a href="https://projets.lazarefortune.com/synthese/public" target="_blank" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!-- Portfolio 5 -->
            <div class="portfolio__content grid swiper-slide">
                <img src="assets/img/portfolio/my-space-login-page.png" alt="Login interface" class="portfolio__img">

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Projet personnel</h3>
                    <p class="portfolio__description">
                        My Space est un projet personnel que j'ai créé pour mon propre usage,
                        conçu avec Symfony.
                    </p>
                    <a href="https://my-space.fr/connexion" target="_blank" class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Swiper Arrows -->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>

        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>

    </div>
</section>