<section class="qualification section">
    <h2 class="section__title">Parcours</h2>
    <span class="section__subtitle">Mon parcours personnel</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active" data-target="#education">
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Scolaire
            </div>
            <div class="qualification__button button--flex" data-target="#work">
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Professionnel
            </div>
        </div>

        <div class="qualification__sections">
            <!-- Qualification content 1 -->
            <div class="qualification__content qualification__active" data-content id="education">
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Master en développement</h3>
                        <span class="qualification__subtitle">France -
                                        <a href="https://www.supdevinci.fr/" class="qualification__link" target="_blank">Sup de vinci</a>
                                    </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2022-2024
                        </div>
                    </div>
                </div>
                <!-- Qualification 1 -->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Bachelor 3 en développement</h3>
                        <span class="qualification__subtitle">France -
                                        <a href="https://www.supdevinci.fr/" class="qualification__link" target="_blank">Sup de vinci</a>
                                    </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2021-2022
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!-- Qualification 2 -->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">DUT Informatique</h3>
                        <span class="qualification__subtitle">France -
                                        <a href="https://iut-metz.univ-lorraine.fr/" class="qualification__link" target="_blank">IUT de Metz</a>
                                    </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2020-2021
                        </div>
                    </div>
                </div>

                <!-- Qualification 3 -->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">1ère année de DUT Informatique</h3>
                        <span class="qualification__subtitle">Gabon - I.S.T</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2018-2019
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!-- Qualification 4 -->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!-- <span class="qualification__line"></span> -->
                    </div>

                    <div>
                        <h3 class="qualification__title">Math Sup & Math Spé - CPGE (Classe préparatoire aux grandes écoles)</h3>
                        <span class="qualification__subtitle">Gabon - LEON MBA</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2016-2018
                        </div>
                    </div>
                </div>
            </div>

            <!-- Qualification content 2 -->
            <div class="qualification__content" data-content id="work" >
                <!-- Qualification 1 -->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Développeur full-stack<br> (En cours)</h3>
                        <span class="qualification__subtitle">
                                        <a href="https://www.cambium-media.com/solutions/" class="qualification__link" target="_blank">
                                            Cambium Media Solutions
                                        </a> - France
                                    </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Depuis Sept. 2021
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!-- Qualification 2 -->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Stagiaire développeur full-stack</h3>
                        <span class="qualification__subtitle">
                                        <a href="https://www.cambium-media.com/solutions/" class="qualification__link" target="_blank">
                                            Cambium Media Solutions
                                        </a> - France
                                    </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Juin 2021 - Août 2021
                        </div>
                    </div>
                </div>

                <!-- Qualification 3 -->
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">CEO Web Creation</h3>
                        <span class="qualification__subtitle">
                                        Web Creation - Gabon
                                    </span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Apr 2020 - Jul 2020
                        </div>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!-- Qualification 4 -->
                <div class="qualification__data">
                    <div></div>
                    <div>
                        <span class="qualification__rounder"></span>
                    </div>

                    <div>
                        <h3 class="qualification__title">Développeur full-stack</h3>
                        <span class="qualification__subtitle"><a href="https://naura.solutions/" class="qualification__link" target="_blank">Na'ura solutions</a> - Gabon</span>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            Dec 2019 - Mar 2020
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>