{% extends 'layouts/studio/base.html.twig' %}

{% block title %}Accueil - Studio{% endblock %}

{% block body %}
        <!-- Header -->
        <div class="mb-8">
            <h1 class="text-3xl font-medium">
                Salut, <span class="text-lead">{{ app.user.fullname }}</span> !
            </h1>
            <p class="mt-2 text-gray-600">
                Bienvenue dans ton Studio, l'espace où ta créativité prend vie.
                Découvre tes stats et lance tes projets !
            </p>
        </div>

        {% if is_granted('ROLE_AUTHOR') %}
            <!-- Statistiques -->
            <div class="grid gap-8 sm:grid-cols-2 xl:grid-cols-4">
                <div class="p-6 border border-slate-200 dark:border-slate-700 rounded-xl">
                    <span class="block text-sm font-medium text-gray-500 uppercase">Vos Vidéos</span>
                    <div class="mt-3 text-4xl font-medium text-gray-800 dark:text-white">
                        {{ countAuthorCourses }}
                    </div>
                    <div class="mt-4">
                        <a href="{{ path('studio_course_new') }}" class="btn btn-primary">
                            Créer une vidéo
                        </a>
                    </div>
                </div>
                <div class="p-6 border border-slate-200 dark:border-slate-700 rounded-xl">
                    <span class="block text-sm font-medium text-gray-500 uppercase">Vidéos de la chaîne</span>
                    <div class="mt-3 text-4xl font-medium text-gray-800 dark:text-white">
                        {{ countOnlineCourses }}
                    </div>
                </div>
            </div>

            <!-- Dernières Vidéos -->
            <div class="mt-12">
                {% include 'pages/admin/partials/_last_course.html.twig' with { 'lastCourses': lastCourses } %}
            </div>
        {% endif %}
{% endblock %}
