{% extends 'layouts/admin/base.html.twig' %}

{% block title %}Chaîne YouTube{% endblock %}

{% block body %}

    <div class="container py-5">
        <div class="mb-5">
            <h1 class="h3 mb-2">Gestion de la Chaîne YouTube</h1>
        </div>

        <div class="card shadow-sm p-4">
            <div class="card-body">
                <h5 class="card-title mb-3">Compte Google associé</h5>
                <p class="text-muted">Liez le compte Google de votre chaîne YouTube pour pouvoir gérer vos contenus directement depuis ce site.</p>

                <div class="d-flex align-items-center mt-4">
                    {% if settings.googleId %}
                        <div class="my-2">
                            <p class="mb-1"><strong>Email associé :</strong> {{ settings.email }}</p>
                        </div>
                    {% endif %}

                    <a href="{{ path(settings.googleId ? 'admin_youtube_config_unlink' : 'admin_youtube_config_link') }}"
                       class="btn btn-sm btn-light">
                        <svg width="20" height="20">
                            <use href="/icons/social.svg#google"></use>
                        </svg>
                        <span>{{ settings.googleId ? 'Dissocier le' : 'Lier un' }} compte Google {% if settings.googleId %}{{ settings.email }}{% endif %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
