{% extends 'layouts/public/base.html.twig' %}

{% block title 'Toutes les playlists' %}

{% block body %}
    <div>
        <div class="container-box py-10 stack-large">
            <div class="formation__hero">
                <h1 class="h1">Toutes les <span>playlists</span></h1>
                <p class="text-muted mt-2">Les playlists sont des regroupements de vidéos pour une thématique donnée.</p>
            </div>

            <div class="formations">
                {% if formations %}
                {% for formation in formations %}
                    {% include 'pages/public/formations/_formation_item.html.twig' with { 'formation': formation } %}
                {% endfor %}
                {% else %}
                    <div>
                        <p class="text-muted">Aucun contenu pour l'instant</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}