.captcha {
  position: relative;
  display: flex;
  width: var(--width);
  height: var(--height);
  background-image: var(--image);
  background-size: cover;
  touch-action: none;

  .captcha-piece {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--pieceWidth);
    height: var(--pieceHeight);
    background: var(--image) top right;
    &:hover {
      cursor: move;
    }

    &::after {
      content: '';
      background: url(../../../../public/images/captcha/piece-halo.png) no-repeat;
      position: absolute;
      width: calc(var(--pieceWidth) + 10px);
      height: calc(var(--pieceHeight) + 10px);
      transform: translate(-4px, 0px);
      transition: .3s;
    }
  }

  &--error {
    animation: wiggle 0.4s linear;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(255, 0, 0, 0.2);
      z-index: 1;
    }
  }

  &--solved {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 255, 0, 0.2);
      z-index: 1;
    }
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
