.captcha {
  position: relative;
  display: flex;
  width: var(--width);
  height: var(--height);
  background-image: var(--image);
  background-size: cover;
  touch-action: none;

  .captcha-piece {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--pieceWidth);
    height: var(--pieceHeight);
    background: var(--image) top right;
    &:hover {
      cursor: move;
    }

    &::after {
      content: '';
      background: url(../../../../public/images/captcha/piece-halo.png) no-repeat;
      position: absolute;
      width: calc(var(--pieceWidth) + 10px);
      height: calc(var(--pieceHeight) + 10px);
      transform: translate(-4px, 0px);
      transition: .3s;
    }
  }

  .captcha-check-icon {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10;
  }

  &--error {
    animation: wiggle 0.4s linear;

    &::before {
      content: '';
      @apply absolute inset-0 z-[1] bg-red-400/40;
    }
  }

  &--solved {
    &::before {
      content: '';
      @apply absolute inset-0 z-[1] bg-green-500/40;
    }
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
