{% extends 'layouts/public/base.html.twig' %}

{% block title 'Erreur' %}

{% block body %}
    <div class="container-box">
        <main class="page-header py-6">
            <div class="flex flex-col lg:flex-row justify-between">
                <!-- Section Titre et Message -->
                <div class="flex flex-col items-center lg:items-start text-center lg:text-left">
                    <h1 class="text-xl text-lead mb-2">{% block error_title '' %}</h1>
                    <p class="text-lg text-gray-600">
                        {% block error_message '' %}
                    </p>
                </div>

                <!-- Section Image -->
                <div class="flex justify-center lg:justify-end w-full h-auto lg:w-72">
                    {% block error_image %}{% endblock %}
                </div>
            </div>
        </main>

        {{ render(controller('App\\Http\\Controller\\Error\\ErrorController::body')) }}
    </div>
{% endblock %}
