{% extends 'bundles/TwigBundle/Exception/base_error.html.twig' %}

{% block error_image %}
    <img src="{{ asset('images/illustrations/403.png') }}" alt="Accès refusé"/>
{% endblock %}

{% block error_title 'Page inaccessible' %}


{% block error_message %}
    <div class="max-w-xl mx-auto">
        <h1 class="text-5xl font-medium text-gray-800">Oups! Accès refusé</h1>
        <p class="mt-4 text-lg text-gray-600">
            Nous sommes désolés, mais vous n'avez pas la permission d'accéder à cette page.
        </p>
        <a href="" class="btn btn-light mt-5">
            Retourner à l'accueil
        </a>
    </div>
{% endblock %}
