.input-attachment {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  transition: 0.2s;
  @apply rounded-xl bg-slate-50 border border-slate-100 dark:bg-primary-1000 dark:border-primary-950 dark:shadow dark:shadow-primary-500/50;
  @apply hover:border-slate-200 hover:shadow dark:hover:border-primary-900;
  &:hover {
    .input-attachment__button-remove {
        opacity: 1;
    }
  }
}

.input-attachment::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  opacity: 0.06;
  background: url(../../../../images/upload.svg) center center / 100% 100% no-repeat;
}

.input-attachment.is-hovered {
  @apply bg-slate-100 dark:bg-slate-600;
  .input-attachment__preview {
    opacity: 0.6;
  }
}

.input-attachment__preview {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: transparent center center / cover no-repeat;
  transition: 0.2s;
  @apply rounded-xl;
}

.input-attachment__loader {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply text-slate-400;
}

.input-attachment__button-remove {
  @apply absolute z-[2] top-2 right-2 p-2 m-1 opacity-100 xl:opacity-0 text-white text-sm font-medium rounded-full bg-primary-500 duration-200 ease-in-out
  shadow hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-300 transition-all
  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-500;
}

.input-attachement__modal-dialog {
  @apply flex flex-col;
}

.input-attachement__modal-header {
  @apply flex justify-end items-center rounded-t-lg border-b bg-white dark:bg-primary-950 dark:border-slate-700 w-full min-w-[calc(100vw-40px)] max-w-[calc(100vw-40px)] lg:min-w-[calc(100vw-80px)] lg:max-w-[calc(100vw-80px)];
}

.input-attachement__modal-close {
  @apply p-2 cursor-pointer dark:bg-primary-950 dark:text-white rounded-t hover:bg-gray-100 dark:hover:bg-primary-900;
  & svg {
    @apply w-6 h-6 stroke-current dark:stroke-current;
  }
}

.input-attachement__modal-body > file-manager {
  width: 100%;
}
